data/
mlruns/
images/
mlflow.db
optuna.db
.env
.venv/*
mlartifacts/*
checkpoints/*
outputs/
lightning_logs/*


# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Python package/build metadata
*.egg-info/
.eggs/
build/
dist/

